= render "recommended/header"
.main-contents
    .main
        .main__title
            %h2.title2
                = @recommended.title
        .main__time
            = @recommended.created_at.strftime("%Y-%m-%d %H:%M")
        .main__name
            投稿者 
            = @user.name
        .main__content
            %p.item-description-inner 
                = safe_join(@recommended.content.split("\n"), tag(:br))
        .main__image
            = image_tag @recommended.image.url,size: "840x450"
        = render partial: 'recommended/recommendeds'
        %div
            %h4 コメント
            #comments_area
                / #①
                / 投稿されたコメント一覧をブログの詳細ページに表示するためのrender
                = render partial: 'comments/index', locals: { comments: @comments }
            - if user_signed_in?
                / コメント入力欄をブログの詳細ページに表示するためのrender
                = render partial: 'comments/form', locals: { comment: @comment, post: @recommended }
                %div
                    = link_to "お気に入りに追加する",recommended_add_path(@recommended.id), method: :post
                %div
                    = link_to "お気に入りから外す", clip_path(@recommended.id), method: :delete

