= render "recommended/header"
.main-contents
    .main
        .main__title
            %h2.title2
                = @recommended.title
        .main__time
            = @recommended.created_at.strftime("%Y-%m-%d %H:%M")
        .main__name
            投稿者 
            = @user.name
        .main__content
            %p.item-description-inner 
                = safe_join(@recommended.content.split("\n"), tag(:br))
        .main__image
            = image_tag @recommended.image.url,size: "840x450"
        - if user_signed_in? && current_user.id == @recommended.user.id
            .btn-box
                .edit-btn 
                    = link_to edit_recommended_path(@recommended.id) do
                        編集する
                .destroy-btn
                    = link_to recommended_path(@recommended.id),method: :delete do
                        削除する
        = render partial: 'recommended/recommendeds'
        %div
            %h4.user-comment コメント
            #comments_area
                = render partial: 'comments/index', locals: { comments: @comments }
            - if user_signed_in?
                = render partial: 'comments/form', locals: { comment: @comment, post: @recommended }
                .mm
                    =link_to  root_path, class:"back" do
                        .main-post__container__submit__back2
                            戻る
                .favorite-box
                    .append
                        = link_to "お気に入りに追加する",recommended_add_path(@recommended.id), method: :post
                    .cancel
                        = link_to "お気に入りから外す", clip_path(@recommended.id), method: :delete

